<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiciosTecnicos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServiciosTecnicos.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg border-bottom shadow-sm py-3" style="background:#087ca7;">
            <div class="container">

                <a class="navbar-brand fw-bold fs-3 text-white" asp-controller="Home" asp-action="Index">
                    ServiciosTécnicos
                </a>

                <div class="ms-auto d-flex align-items-center gap-3">

                    @if (Context.Session.GetInt32("UserId") == null)
                    {
                        <span class="text-white fw-semibold small">
                            Usted no se ha identificado.
                        </span>

                        <a asp-controller="Login" asp-action="Index"
                           class="btn btn-light rounded-pill px-4">
                            Login
                        </a>
                    }
                    else
                    {
                        <span class="text-white fw-semibold small">
                            @Context.Session.GetString("UserName") (@Context.Session.GetString("Role"))
                        </span>

                        <a asp-controller="Login" asp-action="Logout"
                           class="btn btn-outline-light rounded-pill px-4">
                            Salir
                        </a>
                    }

                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
             2026 - ServiciosTecnicos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
